:root{
    --black: #222831;
    --grey: #393E46;
    --teal: #00ADB5;
    --space: #EEEEEE;
}

.categories-container{
    margin-top: 70px;
    padding: 10px;
   
}
.categories-container .category-filter-wrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px ;
    background-color: var(--grey);
    padding: 10px ;
    min-height: 60px;
   
}

.categories-container .category-filter-wrapper .category-item{
    color: white;
    transition: 0.3s ease-in-out;
    font-size: 0.7rem;
    cursor: pointer;
    padding: 5px 5px;
}
.categories-container .category-filter-wrapper .category-item:hover{
    color: red;
}

@media (min-width: 480px) {
    .categories-container .category-filter-wrapper .category-item {
        font-size: 0.9rem; 
    }
}

@media (min-width: 768px) {
    .categories-container .category-filter-wrapper .category-item {
        font-size: 1rem; 
    }
}

@media (min-width: 1024px) {
    .categories-container .category-filter-wrapper .category-item {
        font-size: 1.1rem;
    }
}


.categories-container .category-item.active-category{
    color: red;
}

.categories-container .grid-meals{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 40px;
    margin-top: 20px;
}

.categories-container  .loader-category-list{
    width: 18px;
    height: 18px;
    border: 3px solid #282828;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories-container  .loader-category-filter{
    width: 18px;
    height: 18px;
    border: 3px solid #eae9e9;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 50;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
