:root{
    --black: #222831;
    --grey: #393E46;
    --teal: #00ADB5;
    --space: #EEEEEE;
   
}

 .meal-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin: 5px 0px;
    transition: 0.3s ease-in-out;
 
}
.meal-item.selected-meal{
    background-color: var(--black);
    color: var(--space)
}
.meal-item .item-checkbox{
    accent-color: green;
    position: absolute;
}

 .meal-item .img-wrapper {
    flex: 0 0 auto; 
}

 .meal-item .info-wrapper {
    flex: 1;
}

 .meal-item .button-wrapper {
    flex: 0 0 auto; 
}
 .meal-item:hover{
    /* background-color: white; */
    transform: scale(1.02);
    box-shadow: 0px 0px 5px  #393e4645;
}

 .meal-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   
}
 .meal-item .info-wrapper p{
    font-size: 0.9rem;
    font-weight: lighter;
    text-align: center;
}
 .meal-item .viewRecipeBtn{
    padding: 5px 15px;
    font-weight: 0.9rem;
    font-weight: lighter;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    transition: 0.3s ease-in-out;
}
 .meal-item .viewRecipeBtn:hover{
    background-color: var(--grey);
    color: var(--space)
}